
services:
  app:
    build: .
    ports:
      - '3001:3000'
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://postgres:OLdJTb1Ly3bkwzl4@db.upgkvwhkteiektamxuhm.supabase.co:5432/postgres
    network_mode: "host"
    restart: unless-stopped

# db:
#   image: postgres:15
#   restart: always
#   environment:
#     POSTGRES_USER: postgres
#     POSTGRES_PASSWORD: postgres
#     POSTGRES_DB: brn_demand_manager
#   ports:
#     - '5432:5432'